@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: "Patrick Hand",Helvetica, sans-serif;
    text-align: center;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 1em 1.5em;
    background-color: hsl(50,70%,70%);
    border-width: 0px;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 0 4px 0 hsl(50,70%,50%);

}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 hsl(50,70%,50%);
}


a {    
    color: hsl(100, 80%, 35%);
}

a:hover {
    color: hsl(100,70%,45%)
}


.deets {
    background-color:#cccccc;
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: 0.8em;
}

.credit {
    font-size: small;
    font-weight: initial;
    font-style: italic;
    color: #555;
    margin-top:20px;
}

img {max-width: 100%;}

@media only screen and (min-width: 700px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .deets {    
        max-width: 50%;
        margin: 40px 0 20px 0;
    }

    img {height: 700px;}

    .content { flex-grow: 2;}

}
