@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    box-sizing: border-box;
    font-size: 20px;
}


body {
    font-family: "Patrick Hand",Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.4;
    margin: 0;
}

img {max-width: 100%;}

a {
    color: #555
}

a:hover {
    color: hsl(0,70%,45%)
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 1em 1.5em;
    border-width: 0px;
    border-radius: 0.2em;
    background-color: hsl(50,80%,70%);
    cursor: pointer;
    box-shadow: 1px 5px 0 hsl(50,70%,55%);
    margin-bottom: 1.5em;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: hsl(50,75%,65%);
}

button:active {
    transform: translateY(2px);
    box-shadow: 1px 3px 0 hsl(50,70%,50%);
}

#brap {
    background-color: hsl(100,80%,70%);
    box-shadow: 1px 5px 0 hsl(100,70%,50%);
}

#brap:hover {background-color: hsl(100,75%,65%)}
#brap:active {
    box-shadow: 1px 3px 0 hsl(100,70%,50%);
}

.deets {
    background-color:hsl(0,0%,75%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: 0.8em;
}

#content {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 9fr 10fr;
    grid-auto-rows: 1.5rem;
    grid-gap: 0.5em 0.8em;
    align-items: baseline;
}

span:nth-child(3),
span:nth-child(4) {
    animation-delay: 100ms;
}

span:nth-child(5),
span:nth-child(6) {
    animation-delay: 200ms;
}

span:nth-child(7),
span:nth-child(8) {
    animation-delay: 300ms;
}


.credit {
    font-size: small;
    font-weight: initial;
    font-style: italic;
    color: #555;
    margin-top: 1em;
}

.trait {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: italic;
    color: #555;
    text-align: right;
    animation: swoosh 500ms ease-out both;
}

.desc {
    text-align: left;
    animation: swoosh 500ms ease-out both;
}

.total {
    color: #555;
    font-style: italic;
    animation: fadein 500ms ease-in both;
    animation-delay: 500ms;
}


#total { 
    padding: 1em;
    flex-grow: 1;
}


@media only screen and (min-width: 768px) {

    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
    }

    .deets {    
        max-width: 50%;
        margin-top: calc(95vh * 0.0591);
        margin-bottom: calc(95vh * 0.031);
        margin-left: 0;
        margin-right: -0.3em;
        z-index: 3;
    }

    img {max-height: 95vh;}


}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes swoosh {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    50% {opacity: 0;}
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
